* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

.report-box {
  width: 828px;
  margin: 0 auto;
  background: #fff;
}

.padding-box {
  padding: 52px;
  box-sizing: border-box;
}

.date {}

.date li+li {
  margin-left: 90px;
}

.date li {
  display: inline-block;
}

.date li h4 {
  font-size: 14px;
  font-weight: 100;
}

.date li span {
  display: block;
  margin-top: 12px;
  color: #2d90e6;
}

.big-title {
  font-size: 26px;
  font-weight: 400;
  color: #444;
  margin-top: 80px;
}

.table-header {
  color: #333333;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-spacing: 0;
  border-collapse: separate;
}

.table-header thead tr th {
  border-width: 1px;
  padding: 4px 8px;
  border-style: solid;
  border-color: #ebebeb;
  font-size: 14px;
}

.table-header thead tr th:first-child {
  border-right: none;
}

.table-header thead tr th:last-child {
  border-right: 1px solid #ebebeb;
}

.table-header thead tr th+th {
  border-left: none;
  border-right: none;
}

.table-header tr {
  height: 50px;
  text-align: center;
}
